# ----------------------
# Flask
# ----------------------
flask==0.9
Flask-WTF==0.8.4
gevent

# ----------------------
# Testing
# ----------------------
mock

# ----------------------
# Database
# ----------------------
sqlalchemy
flask-sqlalchemy

# ----------------------
# Extra Libraries
# ----------------------
epa
googlemaps
