{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/epa.css">
{% endblock %}


{% block js %}
{% endblock %}


{% block main %}

<div class="epa">
    <h2>{{ count }}</h2>
    <p class="top">Facilities in your ZIP Code either currently have or previously
    had permits to pollute public water sources.
    </p>
</div>
<hr />
<div class="epa clearfix">
    <div class="float_left company_img"></div>
    <div class="float_right">
        <ul>
        {% for name in names %}
            {%- if name is sameas "" %}
            {% set empty = "empty" %}
            {% else %}
            {% set empty = "" %}
            {% endif %}
            <li class="{{ loop.cycle('odd', 'even') }} {{ empty }} building">
                {{ name }}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<hr />
<div class="epa clearfix">
    <div class="float_left">
        <ul>
        {% for water in waters %}
            {%- if water is sameas "" %}
            {% set empty = "empty" %}
            {% else %}
            {% set empty = "" %}
            {% endif %}
            <li class="{{ loop.cycle('odd', 'even') }} {{ empty }}">{{ water }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="float_right arrow_img">
        {% if empty_waters %}
        <p>Unfortunately, none of the receiving water sources were stored in
        the EPA's database &mdash; else they'd be listed here.</p>
        {% else %}
        <p>Some of the receiving water sources listed in the EPA's database.</p>
        {% endif %}
    </div>
</div>
<hr />

{% include "epa_data/_info.html" %}

{% endblock %}
